[Desktop Entry]
Version=1.1
Type=Application
Name=Neovim2
GenericName=Neovim
Comment=Code Editor
Exec=/home/dev/.local/bin/kitty --detach /home/dev/dotfiles/neovim.sh
Icon=/home/dev/dotfiles/neovim.png

